<a href="https://colab.research.google.com/github/Melvinsudha/1.Create-a-text-file-called-HelloWorld.md/blob/main/3_ML_Apriori_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Apriori Algorithm - Association Mining rules**

In [ ]:
pip install apyori #preferred installer program

Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [ ]:
#Step 1: Import the libraries
#import the lib
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori 
from mlxtend.frequent_patterns import association_rules 
from apyori import apriori

In [ ]:
#Step 2: Load the dataset
store_data=pd.read_csv('food.csv')

In [ ]:
#Check the data
store_data

    wine  chips  bread  butter  milk  apple
0   wine    NaN  bread  butter  milk    NaN
1    NaN    NaN  bread  butter  milk    NaN
2    NaN  chips    NaN     NaN   NaN  apple
3   wine  chips  bread  butter  milk  apple
4   wine  chips    NaN     NaN  milk    NaN
5   wine  chips  bread  butter   NaN  apple
6   wine  chips    NaN     NaN  milk    NaN
7   wine    NaN  bread     NaN   NaN  apple
8   wine    NaN  bread  butter  milk    NaN
9    NaN  chips  bread  butter   NaN  apple
10  wine    NaN    NaN  butter  milk  apple
11  wine  chips  bread  butter  milk    NaN
12  wine    NaN  bread     NaN  milk  apple
13  wine    NaN  bread  butter  milk  apple
14  wine  chips  bread  butter  milk  apple
15   NaN  chips  bread  butter  milk  apple
16   NaN  chips    NaN  butter  milk  apple
17  wine  chips  bread  butter  milk  apple
18  wine    NaN  bread  butter  milk  apple
19  wine  chips  bread     NaN  milk  apple
20   NaN  chips    NaN     NaN   NaN    NaN

In [ ]:
store_data.head()

   wine  chips  bread  butter  milk  apple
0  wine    NaN  bread  butter  milk    NaN
1   NaN    NaN  bread  butter  milk    NaN
2   NaN  chips    NaN     NaN   NaN  apple
3  wine  chips  bread  butter  milk  apple
4  wine  chips    NaN     NaN  milk    NaN

In [ ]:
store_data.tail(8)

    wine  chips  bread  butter  milk  apple
13  wine    NaN  bread  butter  milk  apple
14  wine  chips  bread  butter  milk  apple
15   NaN  chips  bread  butter  milk  apple
16   NaN  chips    NaN  butter  milk  apple
17  wine  chips  bread  butter  milk  apple
18  wine    NaN  bread  butter  milk  apple
19  wine  chips  bread     NaN  milk  apple
20   NaN  chips    NaN     NaN   NaN    NaN

In [ ]:
store_data.tail()

    wine  chips  bread  butter  milk  apple
16   NaN  chips    NaN  butter  milk  apple
17  wine  chips  bread  butter  milk  apple
18  wine    NaN  bread  butter  milk  apple
19  wine  chips  bread     NaN  milk  apple
20   NaN  chips    NaN     NaN   NaN    NaN

In [ ]:
#look at the shape
store_data.shape

(21, 6)

In [ ]:
#convert the pandas dataframe into a list of lists
records = []
for i in range(0,21):   #range(0,21)
    records.append([str(store_data.values[i,j]) for j in range(0,6)])

In [ ]:
#Build the Apriori model
association_rules = apriori(records, min_support=0.45, min_confidence=0.7, min_lift=1.2, min_length=2)   #min_support=0.45
association_results = list(association_rules)

In [ ]:
#Print out the number of rules
print(len(association_results))

2

In [ ]:
#Have a glance at the rule
print(association_results)

[RelationRecord(items=frozenset({'bread', 'butter'}), support=0.5714285714285714, ordered_statistics=[OrderedStatistic(items_base=frozenset({'bread'}), items_add=frozenset({'butter'}), confidence=0.7999999999999999, lift=1.2), OrderedStatistic(items_base=frozenset({'butter'}), items_add=frozenset({'bread'}), confidence=0.8571428571428571, lift=1.2)]), RelationRecord(items=frozenset({'bread', 'milk', 'butter'}), support=0.47619047619047616, ordered_statistics=[OrderedStatistic(items_base=frozenset({'butter'}), items_add=frozenset({'bread', 'milk'}), confidence=0.7142857142857143, lift=1.25), OrderedStatistic(items_base=frozenset({'bread', 'milk'}), items_add=frozenset({'butter'}), confidence=0.8333333333333334, lift=1.2500000000000002)])]

In [ ]:
print(association_results[1])

RelationRecord(items=frozenset({'bread', 'milk', 'butter'}), support=0.47619047619047616, ordered_statistics=[OrderedStatistic(items_base=frozenset({'butter'}), items_add=frozenset({'bread', 'milk'}), confidence=0.7142857142857143, lift=1.25), OrderedStatistic(items_base=frozenset({'bread', 'milk'}), items_add=frozenset({'butter'}), confidence=0.8333333333333334, lift=1.2500000000000002)])