<a href="https://colab.research.google.com/github/Melvinsudha/1.Create-a-text-file-called-HelloWorld.md/blob/main/5_ML_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Example 1: SVM**

**Part 1: Data Preprocessing**

In [1]:
# import the Libraries
import numpy as np                         # used for multidimensional array
import pandas as pd                        # used for import the dataset
import matplotlib.pyplot as plt            # used for plt the graph

In [2]:
# import the dataset

#https://archive.ics.uci.edu/ml/machine-learning-databases/blood-transfusion/transfusion.data
dataset = pd.read_csv('apple_orange.csv')
X = dataset.iloc[:,:-1].values          # predictor attributes
y = dataset.iloc[:, -1].values          # target attributes

In [3]:
# split the dataset into test set and train set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y , test_size=0.2, random_state=0)

In [4]:
# feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

**Part 2 : Building the SVM Model**

In [5]:
# import support vector machine from scikit learn
from sklearn.svm import SVC

In [6]:

# init the svm model
classifier = SVC(kernel = 'linear', random_state=0)

In [7]:
# fit the training data into our SVM Classifer model
classifier.fit(X_train,y_train)

SVC(kernel='linear', random_state=0)

**Part 3: making a Prediction and Visualize the result**

In [8]:
# making a prediction
y_pred = classifier.predict(X_test)
y_pred

array(['orange', 'apple', 'apple'], dtype=object)

In [9]:
# confusion metric
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[2, 0],
       [0, 1]])

In [10]:
# accuracy score
from sklearn.metrics import accuracy_score
ac = accuracy_score(y_test, y_pred)
ac

1.0

**Example 2: SVM**

https://analyticsindiamag.com/understanding-the-basics-of-svm-with-example-and-python-implementation/

**Apples and oranges**

In [11]:
import pandas as pd
data = pd.read_csv("apple_orange.csv")

In [12]:
display(data)

    Index  Weight  Size   Class
0       0      69  4.39  orange
1       1      69  4.21  orange
2       2      65  4.09  orange
3       3      72  5.85   apple
4       4      67  4.70  orange
5       5      73  5.68   apple
6       6      70  5.56   apple
7       7      75  5.11   apple
8       8      74  5.36   apple
9       9      65  4.27  orange
10     10      73  5.79   apple
11     11      70  5.47   apple
12     12      74  5.53   apple
13     13      68  4.47  orange
14     14      74  5.22   apple

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Index   15 non-null     int64
 1   Weight  15 non-null     int64
 2   Size    15 non-null     float64
 3   Class   15 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 608.0+ bytes

In [14]:
#Splitting the dataset into training and test samples

from sklearn.model_selection import train_test_split
training_set, test_set = train_test_split(data, test_size = 0.2, random_state = 1)

In [15]:
#Classifying the predictors and target

X_train = training_set.iloc[:,0:2].values
Y_train = training_set.iloc[:,2].values
X_test = test_set.iloc[:,0:2].values
Y_test = test_set.iloc[:,2].values