<a href="https://colab.research.google.com/github/Melvinsudha/1.Create-a-text-file-called-HelloWorld.md/blob/main/Workshop_SVIT_30_10_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ('HI')
print ("hi")
print ('''hi''')
print ('''"hi"''')
print (10,20,30,40,50)

HI
hi
hi
"hi"
10 20 30 40 50

In [2]:
#Sum of two numbers
a=10
b=25
c=a+b
print(c)

35

In [3]:
#to read the input during run time

a=int(input("Enter value for a"))
b=int(input("Enter value for b"))
c=a+b
print("The sum of a and b:", c)

print('Sum of %i and %i is' %(a,b), c)

Enter value for a4
Enter value for b5
The sum of a and b: 9
Sum of 4 and 5 is 9

In [4]:
#Casting: method used to change the variables/ values declared in a certain data type into a different data type

x = float(1)
y = float(2.8) #int(2.8)
z = float("3")
w = float("4.2")
print("x=",x)
print(y)
print(z)
print(w)



x1 = str("s1")
y1 = str(2)
z1 = str(3.0)
print(x1)
print(y1)
print(z1)

x= 1.0
2.8
3.0
4.2
s1
2
3.0

In [5]:
#Simple programs - Temperature Conversion

c=int(input("enter the celsius value:"))
f=(c*(9/5))+32
print(f)


# F to C
f=int(input("enter the fahrenheit value:"))
c=(f-32)+(5/9)
print(c)

enter the celsius value:5
41.0
enter the fahrenheit value:7
-24.444444444444443

In [6]:
#area of square, circle, triangle 
a=int(input("Enter a value"))
square=a*a
print("Area of Square",square)

circle=3.14*a*a
print("Area of circle",circle)


b=int(input("entre the breadth"))
h=int(input("entre the height"))

tri = 0.5*b*h
print("Area of triangle for the given breadth %i and height %i" %(b,h) ,tri)

Enter a value5
Area of Square 25
Area of circle 78.5
entre the breadth6
entre the height6
Area of triangle for the given breadth 6 and height 6 18.0

In [7]:
#Swapping two numbers using temp variable

a=int(input("Enter the first value"))
b=int(input("Enter the second value"))

print("Before swapping")
print("a=%i" %(a))
print("b=%i" %(b))

c=a
a=b
b=c

print("After swapping")
print("a=%i" %(a))
print("b=%i" %(b))

Enter the first value20
Enter the second value34
Before swapping
a=20
b=34
After swapping
a=34
b=20

In [8]:
#Swapping two numbers without temp variable

a=int(input("Enter the first value"))
b=int(input("Enter the second value"))

print("Before swapping")
print("a=%i" %(a))
print("b=%i" %(b))

a=a+b
b=a-b
a=a-b

print("After swapping")
print("a=%i" %(a))
print("b=%i" %(b))

Enter the first value43
Enter the second value32
Before swapping
a=43
b=32
After swapping
a=32
b=43

In [9]:
#Arithmetic operators

a=int(input("Enter the first value"))
b=int(input("Enter the second value"))
c=a+b
print('The Sum of %i and %i is' %(a,b), c)

d=a-b
print('The Difference is', d)

e=a*b
print('The Product is', e)

f=a/b
print('The Quotient  is', c)

Enter the first value2
Enter the second value3
The Sum of 2 and 3 is 5
The Difference is -1
The Product is 6
The Quotient  is 5

In [10]:
#assignment Operators

a=int(input("Enter a number"))

a += 1   #a=a+1
print ('The value of a is',a)

b=a
print('the value of b is',b)

b=b**2
print(b)

Enter a number2
The value of a is 3
the value of b is 3
9

In [11]:
#Comparison Operators

x = 5
y = 3

print(x == y)
print(x != y)
print(	x > y)
print(	x < y)
print (x >= y)
print(x <= y)

False
True
True
False
True
False

In [12]:
#Logical Operators
x = 5

print(x > 3 and x < 10)
print (x < 5 or x < 4)
print(not(x < 5 and x < 10))

True
False
True

In [13]:
#Identity Operators
a=[10]
b=[10]
c=a

print(a is b)
print(a is c)
print(a is not b)

False
True
True

In [14]:
#Membership Operators

x = ["apple", "banana"]
y = [10,20]

print("banana" in x)
print(10 not in y)

True
False

In [15]:
#CONDITIONAL STATEMENTS
#TO CHECK ODD OR EVEN

a=int(input("Enter a number:"))
b=a%2
if(b==0):
  print("The given numeber %i is even" %(a))
else:
  print("The given numeber %i is odd" %(a))

Enter a number:3
The given numeber 3 is odd

In [16]:
#Leap Year

y=int(input("Enter any year: "))

n=y%4

if (n==0):
  print("The given year=%i is leap year" %(y))
else:
  print("The given year=%i is not a leap year" %(y))

Enter any year: 3000
The given year=3000 is leap year

In [17]:
#positive or negative

n=int(input("Enter a number:"))

if(n>0):
  print("The given numeber %i is positive" %(n))
else:
  print("The given numeber %i is negative" %(n))

Enter a number:20
The given numeber 20 is positive

In [18]:
#greatest of three numbers
a=int(input("Enter value for a:"))
b=int(input("Enter value for b:"))
c=int(input("Enter value for c:"))

if(a>b and a>c):
  print("a=%i is greater" %(a))
elif (b>c):
  print("b=%i is greater" %(b))  
else:
  print("c=%i is greater" %(c))

Enter value for a:7
Enter value for b:4
Enter value for c:78
c=78 is greater

**LOOPING**

In [19]:
#sum of n nmubers

n=int(input('enter a number: '))
i=0;s=0
for i in range(n+1):
  s=s+i

print('sum is:',s)

enter a number: 7
sum is: 28

In [21]:
#To print odd numbers

n=int(input('enter a number: '))
for i in range(1,n,2):
  print(i)

enter a number: 3
1

In [22]:
#To print Even numbers

n=int(input('enter a number: '))
for i in range(0,n,2):
  print(i)

enter a number: 4
0
2

In [23]:
#to print a string

n=str(input("Enter a String: "))
for i in n:
  print(i)

Enter a String: 8
8

In [24]:
#Sum of digits
n=int(input('enter a number: '))

s=0
i=0
r=0

for i in range(n):
  r=n%10
  s=s+r
  n=n/10

print("Sum of  digits", s)

enter a number: 8
Sum of  digits 8.8888888

In [25]:
# Multiplication table 

# To take input from the user
n= int(input("Enter the table value "))

# Iterate 10 times from i = 1 to 10
for i in range(1, n):
   print(n, 'x', i, '=', n*i)

Enter the table value 66
66 x 1 = 66
66 x 2 = 132
66 x 3 = 198
66 x 4 = 264
66 x 5 = 330
66 x 6 = 396
66 x 7 = 462
66 x 8 = 528
66 x 9 = 594
66 x 10 = 660
66 x 11 = 726
66 x 12 = 792
66 x 13 = 858
66 x 14 = 924
66 x 15 = 990
66 x 16 = 1056
66 x 17 = 1122
66 x 18 = 1188
66 x 19 = 1254
66 x 20 = 1320
66 x 21 = 1386
66 x 22 = 1452
66 x 23 = 1518
66 x 24 = 1584
66 x 25 = 1650
66 x 26 = 1716
66 x 27 = 1782
66 x 28 = 1848
66 x 29 = 1914
66 x 30 = 1980
66 x 31 = 2046
66 x 32 = 2112
66 x 33 = 2178
66 x 34 = 2244
66 x 35 = 2310
66 x 36 = 2376
66 x 37 = 2442
66 x 38 = 2508
66 x 39 = 2574
66 x 40 = 2640
66 x 41 = 2706
66 x 42 = 2772
66 x 43 = 2838
66 x 44 = 2904
66 x 45 = 2970
66 x 46 = 3036
66 x 47 = 3102
66 x 48 = 3168
66 x 49 = 3234
66 x 50 = 3300
66 x 51 = 3366
66 x 52 = 3432
66 x 53 = 3498
66 x 54 = 3564
66 x 55 = 3630
66 x 56 = 3696
66 x 57 = 3762
66 x 58 = 3828
66 x 59 = 3894
66 x 60 = 3960
66 x 61 = 4026
66 x 62 = 4092
66 x 63 = 4158
66 x 64 = 4224
66 x 65 = 4290

In [26]:
#factorial of a number
n = int(input("Enter a number: "))
f=1

# check if the number is negative, positive or zero
if n < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif n == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,n + 1):
       f = f*i
   print("The factorial of",num,"is",f)

Enter a number: 5

NameError: ignored

In [27]:
#LOOPING

# Program to check if a number is prime or not

# To take input from the user
num = int(input("Enter a number: "))

# define a flag variable
flag = False

# prime numbers are greater than 1
if num > 1:
    # check for factors
    for i in range(2, num):
        if (num % i) == 0:
            # if factor is found, set flag to True
            flag = True
            # break out of loop
            break

# check if flag is True
if flag:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

Enter a number: 7
7 is a prime number

**FUNCTIONS**

In [29]:
#Function without arguments and without return value

a=int(input("Enter value for a:"))
b=int(input("Enter value for b:"))

def sum():
  c=a+b
  print("sum of %i and %i is:" %(a,b),c)

def diff():
  #a=int(input("Enter value for a:"))
 # b=int(input("Enter value for b:"))
  c=a-b
  print("Difference of %i and %i is:" %(a,b),c)  


def prod():
 # a=int(input("Enter value for a:"))
 # b=int(input("Enter value for b:"))
  c=a*b
  print("Product of %i and %i is:" %(a,b),c) 

def div():
 # a=int(input("Enter value for a:"))
 # b=int(input("Enter value for b:"))
  c=a/b
  print("Quotient of %i and %i is:" %(a,b),c)   

def mod():
 # a=int(input("Enter value for a:"))
  #b=int(input("Enter value for b:"))
  c=a%b
  print("Remainder of %i and %i is:" %(a,b),c) 

sum()  
diff()
prod()
div()
mod()

Enter value for a:45
Enter value for b:56
sum of 45 and 56 is: 101
Difference of 45 and 56 is: -11
Product of 45 and 56 is: 2520
Quotient of 45 and 56 is: 0.8035714285714286
Remainder of 45 and 56 is: 45

In [30]:
#Function with arguments and with return value

a=int(input("Enter value for a:"))
b=int(input("Enter value for b:"))

def sum(a,b):
  c=a+b
  print("sum of %i and %i is:" %(a,b),c)

def diff(a,b):
  c=a-b
  print("Difference of %i and %i is:" %(a,b),c)  


def prod(a,b):
  c=a*b
  print("Product of %i and %i is:" %(a,b),c) 

def div(a,b):
  c=a/b
  print("Quotient of %i and %i is:" %(a,b),c)   

def mod(a,b):
  c=a%b
  print("Remainder of %i and %i is:" %(a,b),c) 

sum(a,b)  
diff(a,b)
prod(a,b)
div(a,b)
mod(a,b)

Enter value for a:76
Enter value for b:34
sum of 76 and 34 is: 110
Difference of 76 and 34 is: 42
Product of 76 and 34 is: 2584
Quotient of 76 and 34 is: 2.235294117647059
Remainder of 76 and 34 is: 8

**SWITCH**

In [31]:
def week(i):
  switch ={
    0:'Sunday',
    1:'Monday',
    2:'Tuesday',
    3:'Wednesday',
    4:'Thursday',
    5:'Friday',
    6:'Saturday'
  } 
  print(switch.get(i,"Invalid day of week"))

n=int(input("enter the choice: "))
week(n)

enter the choice: 5
Friday

In [32]:
def calculation():

 
  if(n==1):
    c=a+b
    print("sum of %i and %i is:" %(a,b),c)

  elif(n==2):
    c=a-b
    print("diff of %i and %i is:" %(a,b),c)
  
  elif(n==3):
    c=a*b
    print("Product of %i and %i is:" %(a,b),c)

  elif(n==4):
    c=a/b
    print("Quotient of %i and %i is:" %(a,b),c)

  elif(n==5):
    c=a%b
    print("Remainder of %i and %i is:" %(a,b),c)

  else:
    print("invalid choice")

a=int(input("Enter value for a:"))
b=int(input("Enter value for b:"))

n=int(input("Enter the choice"))

calculation()

Enter value for a:3
Enter value for b:5
Enter the choice6
invalid choice

**LIST-TUPLE-DICTIONARY-SET-DATAFRAME**

In [33]:
list=[10,20,30,40,50,60,70,80,90,100,'a','b']
print(list)
print(len(list))

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 'a', 'b']
12

In [34]:
print(len(list))

12

In [35]:
print(list[0])

10

In [36]:
print(list[-1])

b

In [37]:
print(list.pop(-1))

b

In [38]:
print (list)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 'a']

In [39]:
print(type(list))

<class 'list'>

In [40]:
list.append(5)
print(list)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 'a', 5]

In [41]:
list2 = [29,43,13,56,23,21, 56, 76,92,52]
print(list2)

[29, 43, 13, 56, 23, 21, 56, 76, 92, 52]

In [42]:
#sort

list2.sort()
print(list2)

[13, 21, 23, 29, 43, 52, 56, 56, 76, 92]

In [43]:
print(list+list2)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 'a', 5, 13, 21, 23, 29, 43, 52, 56, 56, 76, 92]

In [44]:
#copy

print(list)
print(list2)

list2=list.copy()

print(list2)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 'a', 5]
[13, 21, 23, 29, 43, 52, 56, 56, 76, 92]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 'a', 5]

**TUPLE**

In [45]:
tuple=(10,20,30,40,50,60,70,80,90,100)
print(tuple)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [46]:
print(len(tuple))

10

In [47]:
#Tuples operations
t1 = ('p', 'y', 't', 'h','o','n')
t2 = ('python', [1,2,3] , (4,5,6))

print ("Fisrt Tuple" , t1)
print ("Second Tuple",t2)

print ("Negative indexing",t1[-1])
print ("Negative indexing",t2[-1])

print ("First Index",t1[0])
print ("First Index",t2[0])
print ("Join",t1+t2)
print ("Two time of first tuple",t1*2)
print ("Two time of second tuple",t2*2)
print ("Length of t1", len(t1))
print ("Length of t2",len(t2))
print ("Membership operator:", 'y' in t1)
print ("Membership operator:",'Y' in t1)
print ("Membership operator:",'python' in t2)
print ("Membership operator:",[1,2,3] in t2)

Fisrt Tuple ('p', 'y', 't', 'h', 'o', 'n')
Second Tuple ('python', [1, 2, 3], (4, 5, 6))
Negative indexing n
Negative indexing (4, 5, 6)
First Index p
First Index python
Join ('p', 'y', 't', 'h', 'o', 'n', 'python', [1, 2, 3], (4, 5, 6))
Two time of first tuple ('p', 'y', 't', 'h', 'o', 'n', 'p', 'y', 't', 'h', 'o', 'n')
Two time of second tuple ('python', [1, 2, 3], (4, 5, 6), 'python', [1, 2, 3], (4, 5, 6))
Length of t1 6
Length of t2 3
Membership operator: True
Membership operator: False
Membership operator: True
Membership operator: True

**DICTIONARY**

In [48]:
dict = {"1" : "one",  "2": "apple",  "3": 2020 }
print(dict)

{'1': 'one', '2': 'apple', '3': 2020}

In [49]:
# empty dictionary
dict1 = {}

In [50]:
# dictionary with integer keys
dict1 = {1: 'apple', 2: 'ball'}
print("First Dictionary",dict1)

First Dictionary {1: 'apple', 2: 'ball'}

In [51]:
# Dictionary with for loop

stud = { "Name" : "XXX" , "Reg.no" :36 , "M1" : 64 , "M2" : 80 , "M3" : 76}
stud["email"] = " yourmail@crecsent.education"
stud["address"] = "Chennai"
for key in stud:
    print ( key , ":" , stud[key])

Name : XXX
Reg.no : 36
M1 : 64
M2 : 80
M3 : 76
email :  yourmail@crecsent.education
address : Chennai

In [52]:
print(stud)

{'Name': 'XXX', 'Reg.no': 36, 'M1': 64, 'M2': 80, 'M3': 76, 'email': ' yourmail@crecsent.education', 'address': 'Chennai'}

In [53]:
#Accessing the elements in the dictionary using keys

stud={'Name': 'XXX', 
      'Reg.no': 36, 
      'M1': 64, 
      'M2': 80, 
      'M3': 76, 
      'email': 'yourmail@crecsent.education', 
      'address': 'Chennai'}

print ("1.", stud['Name'])    		 #accessing name
print ("2.", stud['Reg.no'])       		#accessing age
print ("3.", stud.get('M1'))    		#accessing age
print ("4.", stud.get('M2'))    	#accessing address

print ("5.", stud.get('contact'))
print ("6.", stud)

1. XXX
2. 36
3. 64
4. 80
5. None
6. {'Name': 'XXX', 'Reg.no': 36, 'M1': 64, 'M2': 80, 'M3': 76, 'email': 'yourmail@crecsent.education', 'address': 'Chennai'}

**UPLOAD AND OPERATIONS OF DATASETS**

In [54]:
import pandas as pd
dataset=pd.read_csv("weather.csv")
dataset

     outlook  temp  humidity  windy  class
0          1     3         1      2      0
1          1     3         1      1      0
2          2     3         1      2      1
3          3     1         1      2      1
4          3     2         2      2      1
..       ...   ...       ...    ...    ...
219        3     1         2      2      1
220        1     1         2      1      1
221        2     1         1      1      1
222        2     3         2      2      1
223        3     1         1      1      0

[224 rows x 5 columns]

In [55]:
dataset.dtypes

outlook     int64
temp        int64
humidity    int64
windy       int64
class       int64
dtype: object

In [56]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   outlook   224 non-null    int64
 1   temp      224 non-null    int64
 2   humidity  224 non-null    int64
 3   windy     224 non-null    int64
 4   class     224 non-null    int64
dtypes: int64(5)
memory usage: 8.9 KB

In [57]:
dataset.head(10)

   outlook  temp  humidity  windy  class
0        1     3         1      2      0
1        1     3         1      1      0
2        2     3         1      2      1
3        3     1         1      2      1
4        3     2         2      2      1
5        3     2         2      1      0
6        2     2         2      1      1
7        1     1         1      2      0
8        1     2         2      2      1
9        3     1         2      2      1

In [58]:
dataset.tail(10)

     outlook  temp  humidity  windy  class
214        3     2         2      2      1
215        3     2         2      1      0
216        2     2         2      1      1
217        1     1         1      2      0
218        1     2         2      2      1
219        3     1         2      2      1
220        1     1         2      1      1
221        2     1         1      1      1
222        2     3         2      2      1
223        3     1         1      1      0

In [60]:
dataset.shape

(224, 5)

In [59]:
dataset.describe()

          outlook        temp   humidity       windy       class
count  224.000000  224.000000  224.00000  224.000000  224.000000
mean     2.000000    1.857143    1.50000    1.571429    0.642857
std      0.847047    0.834859    0.50112    0.495980    0.480231
min      1.000000    1.000000    1.00000    1.000000    0.000000
25%      1.000000    1.000000    1.00000    1.000000    0.000000
50%      2.000000    2.000000    1.50000    2.000000    1.000000
75%      3.000000    3.000000    2.00000    2.000000    1.000000
max      3.000000    3.000000    2.00000    2.000000    1.000000

In [63]:
dataset.sort_index(axis=1,ascending=True)

     class  humidity  outlook  temp  windy
0        0         1        1     3      2
1        0         1        1     3      1
2        1         1        2     3      2
3        1         1        3     1      2
4        1         2        3     2      2
..     ...       ...      ...   ...    ...
219      1         2        3     1      2
220      1         2        1     1      1
221      1         1        2     1      1
222      1         2        2     3      2
223      0         1        3     1      1

[224 rows x 5 columns]

In [62]:
dataset.isnull().sum()

outlook     0
temp        0
humidity    0
windy       0
class       0
dtype: int64

In [61]:
dataset.index

RangeIndex(start=0, stop=224, step=1)

In [66]:
dataset.memory_usage()

Index        128
outlook     1792
temp        1792
humidity    1792
windy       1792
class       1792
dtype: int64

In [65]:
dataset['humidity'].value_counts()

1    112
2    112
Name: humidity, dtype: int64

In [64]:
dataset.corr()

               outlook          temp      humidity         windy     class
outlook   1.000000e+00 -3.043798e-01  1.690309e-01 -4.740167e-18  0.176383
temp     -3.043798e-01  1.000000e+00  6.128554e-17  1.980295e-01 -0.127827
humidity  1.690309e-01  6.128554e-17  1.000000e+00  3.004629e-17  0.447214
windy    -4.740167e-18  1.980295e-01  3.004629e-17  1.000000e+00  0.258199
class     1.763834e-01 -1.278275e-01  4.472136e-01  2.581989e-01  1.000000

In [69]:
#Selecting a single column
dataset['humidity']

0      1
1      1
2      1
3      1
4      2
      ..
219    2
220    2
221    1
222    2
223    1
Name: humidity, Length: 224, dtype: int64

In [68]:
#Slicing rows
a=dataset[1:100]
a

    outlook  temp  humidity  windy  class
1         1     3         1      1      0
2         2     3         1      2      1
3         3     1         1      2      1
4         3     2         2      2      1
5         3     2         2      1      0
..      ...   ...       ...    ...    ...
95        2     1         1      1      1
96        2     3         2      2      1
97        3     1         1      1      0
98        1     3         1      2      0
99        1     3         1      1      0

[99 rows x 5 columns]

In [67]:
#selecting column

x= dataset.iloc[:, [2, 3]].values
print(x)

[[1 2]
 [1 1]
 [1 2]
 [1 2]
 [2 2]
 [2 1]
 [2 1]
 [1 2]
 [2 2]
 [2 2]
 [2 1]
 [1 1]
 [2 2]
 [1 1]
 [1 2]
 [1 1]
 [1 2]
 [1 2]
 [2 2]
 [2 1]
 [2 1]
 [1 2]
 [2 2]
 [2 2]
 [2 1]
 [1 1]
 [2 2]
 [1 1]
 [1 2]
 [1 1]
 [1 2]
 [1 2]
 [2 2]
 [2 1]
 [2 1]
 [1 2]
 [2 2]
 [2 2]
 [2 1]
 [1 1]
 [2 2]
 [1 1]
 [1 2]
 [1 1]
 [1 2]
 [1 2]
 [2 2]
 [2 1]
 [2 1]
 [1 2]
 [2 2]
 [2 2]
 [2 1]
 [1 1]
 [2 2]
 [1 1]
 [1 2]
 [1 1]
 [1 2]
 [1 2]
 [2 2]
 [2 1]
 [2 1]
 [1 2]
 [2 2]
 [2 2]
 [2 1]
 [1 1]
 [2 2]
 [1 1]
 [1 2]
 [1 1]
 [1 2]
 [1 2]
 [2 2]
 [2 1]
 [2 1]
 [1 2]
 [2 2]
 [2 2]
 [2 1]
 [1 1]
 [2 2]
 [1 1]
 [1 2]
 [1 1]
 [1 2]
 [1 2]
 [2 2]
 [2 1]
 [2 1]
 [1 2]
 [2 2]
 [2 2]
 [2 1]
 [1 1]
 [2 2]
 [1 1]
 [1 2]
 [1 1]
 [1 2]
 [1 2]
 [2 2]
 [2 1]
 [2 1]
 [1 2]
 [2 2]
 [2 2]
 [2 1]
 [1 1]
 [2 2]
 [1 1]
 [1 2]
 [1 1]
 [1 2]
 [1 2]
 [2 2]
 [2 1]
 [2 1]
 [1 2]
 [2 2]
 [2 2]
 [2 1]
 [1 1]
 [2 2]
 [1 1]
 [1 2]
 [1 1]
 [1 2]
 [1 2]
 [2 2]
 [2 1]
 [2 1]
 [1 2]
 [2 2]
 [2 2]
 [2 1]
 [1 1]
 [2 2]
 [1 1]
 [1 2]
 [1 1]
 [1 2]
 [1 2]
 [2 2]
 [2 1]
 [2 1]
 [1 2]
 [2 2]
 [2 2]
 [2 1]
 [1 1]
 [2 2]
 [1 1]
 [1 2]
 [1 1]
 [1 2]
 [1 2]
 [2 2]
 [2 1]
 [2 1]
 [1 2]
 [2 2]
 [2 2]
 [2 1]
 [1 1]
 [2 2]
 [1 1]
 [1 2]
 [1 1]
 [1 2]
 [1 2]
 [2 2]
 [2 1]
 [2 1]
 [1 2]
 [2 2]
 [2 2]
 [2 1]
 [1 1]
 [2 2]
 [1 1]
 [1 2]
 [1 1]
 [1 2]
 [1 2]
 [2 2]
 [2 1]
 [2 1]
 [1 2]
 [2 2]
 [2 2]
 [2 1]
 [1 1]
 [2 2]
 [1 1]
 [1 2]
 [1 1]
 [1 2]
 [1 2]
 [2 2]
 [2 1]
 [2 1]
 [1 2]
 [2 2]
 [2 2]
 [2 1]
 [1 1]
 [2 2]
 [1 1]
 [1 2]
 [1 1]
 [1 2]
 [1 2]
 [2 2]
 [2 1]
 [2 1]
 [1 2]
 [2 2]
 [2 2]
 [2 1]
 [1 1]
 [2 2]
 [1 1]]

**DATAFRAME**

In [71]:
import pandas as pd
dictionary3 = { 'salary' : [45000,40000,35000,30000,42000,37000,43000,38000,41000,44000,90000,80000,70000,60000,95000,85000,75000,65000,84000,92000,190000,180000,170000,160000,195000,185000,175000,165000,184000,192000],
'car_type' : [0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2]
 }
table3 = pd.DataFrame (dictionary3)
print(table3)

    salary  car_type
0    45000         0
1    40000         0
2    35000         0
3    30000         0
4    42000         0
5    37000         0
6    43000         0
7    38000         0
8    41000         0
9    44000         0
10   90000         1
11   80000         1
12   70000         1
13   60000         1
14   95000         1
15   85000         1
16   75000         1
17   65000         1
18   84000         1
19   92000         1
20  190000         2
21  180000         2
22  170000         2
23  160000         2
24  195000         2
25  185000         2
26  175000         2
27  165000         2
28  184000         2
29  192000         2

In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

W1 = 6
W2 = 2
W3 = 2
X1 = 1
X2 =  1
X3 =  1
B= 3

In [72]:
z= ((W1*X1) + (W2*X2) + (W3*X3)) + B
print (z)

13

In [73]:
import math
sig = 1 / (1+math.exp(-z))
print(sig)

0.999997739675702

In [74]:
import math
z=13
#hyper = (1 math.exp(-2z)) / (1+math.exp(-2z))
hyper = (1-math.exp(-26)) / (1+math.exp(-26))
print(hyper)

0.9999999999897818